/*
====================================
FOOTER (Pie de Página)
====================================
*/

.main-footer {
display: flex;
justify-content: space-between;
align-items: center;
/* Usamos variables de espaciado y color de main.css */
padding: var(--space-md) 0 var(--space-lg) 0;
border-top: 1px solid var(--color-border-subtle);
flex-wrap: wrap; 
}

.footer-left {
display: flex;
align-items: center;
gap: var(--space-md);
}

.logo-footer {
/* Usando variables de escala y color de main.css */
font-size: var(--fs-lg);
text-transform: lowercase;
font-weight: bold;
color: var(--color-text-light);
}

.copyright {
/* Usando variables de escala y color de main.css */
font-size: var(--fs-xs);
color: var(--color-text-subtle);
}

.footer-social {
display: flex;
flex-wrap: wrap;
gap: var(--space-md); 
justify-content: flex-end;
}

.footer-social a {
text-decoration: none;
color: var(--color-text-light);
/* Usando variables de escala y color de main.css */
font-size: var(--fs-smd);
font-weight: 500;
}

/*
====================================
MEDIA QUERIES (RESPONSIVE) del Footer
====================================
*/

@media (max-width: 768px) {
.main-footer {
flex-direction: column;
align-items: flex-start;
gap: var(--space-md);
}
 
.footer-social {
justify-content: flex-start;
gap: var(--space-sm);
}
}